DATABASE_URL="mssql+pyodbc://@BO-LAPTOP\\SQLEXPRESS/BlinkOnce_EmployeesProductivity?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
SECRET_KEY="my_super_secret_session_key"
ALGORITHM="HS256"
